@import "../styles/colors";

.aboutgrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 96px;
    margin-bottom: 160px;

    .about-content {

        h1 {
            margin-bottom: 0;
        }

        p {
            max-width: 620px;
        }

        .interrests {
            h3 {
                font-size: 18px;
                margin-top: 48px;
                margin-bottom: 8px;
            }

            p {
                margin-top: 0px;
            }
        }

        .skill-section {
            h3 {
                margin-top: 48px;
                margin-bottom: 8px;
            }

            .skills {
                display: grid;
                gap: 16px 16px;
                grid-template-columns: repeat(3, 160px);

                p {
                    margin: 0;
                    font-weight: 500;
                }

                span {
                    color: $smoke-grey;
                }
            }
        }

        .educations {
            margin: 56px 0;

        }
    }


}