@import './_colors.scss';

.intro {

    padding: 16px 0;

    h1,
    h2 {
        line-height: 1.15;
        font-weight: 400;
    }
}

.projects {
    h2 {
        font-weight: 500;
        font-size: 22px;
    }
}