@import "../../styles/_colors.scss";

.project {
    display: flex;
    flex-direction: column;

    .projectimg {
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 15px -15px $shadow-blue;

    }

    h3 {
        margin-top: 24px;
        margin-bottom: 0;
    }

    span {
        margin-top: -4px;
        color: $smoke-grey;
    }

    p {
        margin-top: 4px;
    }
}